# Ambiente virtual
.filesvenv/
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*.so
*.log

# Streamlit
.streamlit/

# Dados gerados
*.npy
*.pkl
*.db
*.sqlite3

# Cache e arquivos temporários
*.bak
*.swp
*.tmp
*.DS_Store
Thumbs.db

# VSCode / PyCharm / IDEs
.vscode/
.idea/

# Checkpoints e modelos pesados
*.pt
*.h5
*.ckpt

# Variáveis de ambiente e configs sensíveis
.env
