# Ambiente virtual
.filesvenv/
.venv/
venv/
.local/

# Python
__pycache__/
*.py[cod]
*.so
*.log
.pytest_cache/
.ruff_cache/

# Streamlit
.streamlit/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.vite/

# Certificados locais
certs/

# Dados gerados
# *.npy
# *.pkl
# *.db
# *.sqlite3

# Cache e arquivos temporários
*.bak
*.swp
*.tmp
*.DS_Store
Thumbs.db

# VSCode / PyCharm / IDEs
.vscode/
.idea/

# Checkpoints e modelos pesados
*.pt
*.h5
*.ckpt
